{% comment %}
  Render address empty

  @param {object} customer - customer object

  @example
  {% render 'address-empty', customer: customer %}
{% endcomment %}

{% liquid
  assign empty_title = 'customer.orders.empty' | t
  assign empty_content = 'customer.orders.empty_info' | t
%}

<div class="xo-address-table__empty">
  <div class="xo-address-table__empty-header">
    {% render 'empty', title: empty_title, content: empty_content, icon_name: 'address-empty', icon_size: '12.8rem' %}
  </div>
  {% render 'space', spacing_dt: 16, spacing_mb: 16 %}
  {% render 'add-new-address', customer: customer %}
</div>
