{% comment %}
  Renders animate text

  Accepts:
  - text: {String} Text (required)

  Outputs:
  Usage:
  {% render 'animate-text', text: text %}
{% endcomment %}

<span class='xo-animate-text' data-hover='{{ text | strip_html }}'>
  <span class='xo-animate-text__text'>{{ text | strip_html }}</span>
</span>
