{% comment %}
  Render delete address

  @param {object} address - address object

  @example
  {% render 'delete-address', address: address %}
{% endcomment %}

<form class="xo-address-table__delete" method="post" action="{{ routes.account_addresses_url }}/{{ address.id }}">
  <input type="hidden" name="_method" value="delete">
  <div class="xo-address-table__icon">
    {% render 'button', type: 'submit', style: 'link', icon: 'delete' %}
  </div>
</form>
