{% comment %}
  Renders a heading multi column

  @param {String} heading - Heading (required)
  @param {String} class  - Font size heading (required)
  @param {Number} column - Column (required)

  @example
  {% render 'heading-multi-column', heading: heading, class: class, column: column, style: style %}
{% endcomment %}

<div class="heading-multi-column {% if layout == 'style-2' %}heading-multi-column--style-2{% endif %}">
  <xo-grid class="heading-multi-column__grid">
    <div class="heading-multi-column__heading {{ class }}" style="--lg: {{ column }}; --md: 12; --xs: 12">
      {% render 'text', context: section %}
    </div>
  </xo-grid>
</div>
