{% comment %}
  Render a img with text

  Accepts:
  - content: {String} Content
  - desktop_image: {Object} Desktop image
  - mobile_image: {Object} Mobile image
  - desktop_video: {Object} Desktop video
  - mobile_video: {Object} Mobile video

  Usage:
  {% render 'img-with-text-10',
    content: content,
    desktop_image: desktop_image,
    mobile_image: mobile_image,
    desktop_video: desktop_video,
    mobile_video: mobile_video
  %}
{% endcomment %}

<div class="img-with-text-10" xo-parallax>
  <xo-grid class="img-with-text-10__grid">
    <div class="img-with-text-10__image-secondary" style="--lg: 6; --md: 6; --xs: 12;">
      <xo-animate xo-order="4" xo-type="zoom-in" style="width: 100%;">
        <div class="img-with-text-10__image img-with-text-10__image--desktop{% if settings.enable_border_radius %} img-with-text-10__image--radius{% endif %}">
          {% render 'video-button', video: desktop_video, button_enable: false, enable_video_looping: true %}
        </div>
        <div class="img-with-text-10__image img-with-text-10__image--mobile{% if settings.enable_border_radius %} img-with-text-10__image--radius{% endif %}">
          {% render 'video-button', video: desktop_video, button_enable: false, enable_video_looping: true %}
        </div>
      </xo-animate>
      <div class="img-with-text-8__divider">
        <xo-animate xo-type="width-increment" style="width: 100%; height: 100%;">
          <span class="img-with-text-10__divider-inner"></span>
        </xo-animate>
      </div>
    </div>
    <div class="img-with-text-10__text" style="--lg: 6; --md: 6; --xs: 12; --order-xs: -1; --order-md: 0;">
      <xo-animate xo-order="7" style="width: 100%;">
        <div class="img-with-text-10__text-inner h5">{{ content }}</div>
      </xo-animate>
    </div>
    <div class="img-with-text-10__content" style="--lg: 6; --md: 6; --xs: 12; --start-md: 4; --start-lg: 4;">
      <div class="img-with-text-10__image-primary">
        <xo-animate xo-order="1" xo-type="zoom-out">
          <div class="img-with-text-10__image img-with-text-10__image--desktop{% if settings.enable_border_radius %} img-with-text-10__image--radius{% endif %}">
            {% render 'image', image: desktop_image %}
          </div>
          <div class="img-with-text-10__image img-with-text-10__image--mobile{% if settings.enable_border_radius %} img-with-text-10__image--radius{% endif %}">
            {% render 'image', image: mobile_image %}
          </div>
        </xo-animate>
      </div>
    </div>
  </xo-grid>
</div>
