{% comment %}
  Renders a product variant link

  Accepts:
  - option: {Object} The product variant option to render.
  - product: {Object} The product object.

  Usage:
  {% render 'product-variant-link', product: product, option: option %}
{% endcomment %}

{% liquid
  assign is_bundle = is_bundle | default: false
  assign combined_listing_count = product.options_with_values | map: 'values' | map: 'product_url' | compact | size
  assign quick_view_text = 'products.product.quick_view' | t

 if combined_listing_count > 0
    assign product_handle = product.selected_or_first_available_variant.product.handle
    assign product_url = shop.url | append: '/products/' | append: product_handle | append: '/?section_id=quick-view-content'
    if is_bundle
      assign product_url = shop.url | append: '/products/' | append: product_handle | append: '/?section_id=quick-view-content-bundle'
    endif
  else
    assign product_url = shop.url | append: '/products/' | append: product.handle | append: '/?section_id=quick-view-content'
    if is_bundle
      assign product_url = shop.url | append: '/products/' | append: product.handle | append: '/?section_id=quick-view-content-bundle'
    endif
  endif
%}

{%- if option != blank -%}
  <div class="xo-product-variant-link">
    {%- for value in option.values -%}
      {%- liquid
        assign product_href = product.url | append: '?variant=' | append: value.variant.id
        assign combined_listing_count = product.options_with_values | map: 'values' | map: 'product_url' | compact | size
        if combined_listing_count > 0
          assign product_href = value.product_url | append: '?variant=' | append: value.variant.id
        endif
      -%}
      {%- unless forloop.index > settings.vol_max -%}
        <a href="{{ product_href }}" class="xo-product-variant-link__item-color">
          {%- if settings.product_card_color_style == 'color' -%}
            {% render 'field-color', name: option.name, value: value, label: value, image: value.swatch.image, use_image: true, variant_link: true %}
          {%- elsif settings.product_card_color_style == 'variant_image' -%}
            {% render 'field-color', name: option.name, value: value, label: value, image: value.variant.featured_image, use_image: true, variant_link: true %}
          {%- endif -%}
        </a>
      {%- endunless -%}
    {%- endfor -%}
    {%- liquid
      assign length = option.values.size
      assign max_to_show = settings.vol_max | default: 4
      assign total_swatches = length | minus: max_to_show
    -%}
    {%- if total_swatches > 0 -%}
      <xo-product-quick-view-trigger
        xo-modal-name="quick-view"
        class="xo-product-variant-link__quickview"
        xo-product-url="{{ product_url }}"
        tabindex="0"
        role="button"
        aria-label="{{ quick_view_text }}"
      >
        <span class="xo-product-variant-link__quickview-text">+{{ total_swatches }}</span>
      </xo-product-quick-view-trigger>
    {%- endif -%}
  </div>
{%- endif -%}
