{% comment %}
  Render a product bundle content style 2

  @param {object} product - Product

  @example
  {% render 'product-bundle-content-style-2', product: product %}
{% endcomment %}

<template xo-bundle-item xo-bundle-price="{{ product.selected_or_first_available_variant.price }}">
  <div class="xo-product-bundle-content xo-product-bundle-content--2">
    <div class="xo-product-bundle-content__image">
      {% render 'product-image', product: product, aspect_ratio: '1', lazyload: lazyload %}
    </div>
    <div class="xo-product-bundle-content__action">
      <xo-tooltip
        xo-mobile-disabled
        xo-title="{{ 'general.tooltip.remove' | t }}"
        xo-placement="top-center"
        class="tooltip{% if settings.enable_border_radius %} tooltip--radius{% endif %}"
      >
        <xo-bundle-remove class="xo-product-bundle-content__remove xo-stack" style="--ai: end; --jc: flex-end">
          {% render 'icon', name: 'close', size: '1.4rem' %}
        </xo-bundle-remove>
      </xo-tooltip>
    </div>
  </div>
</template>
