{% comment %}
  Render set default address form

  @param {object} address - address object
  @param {object} customer - customer object

  @example
  {% render 'set-default-address', address: address, customer: customer %}
{% endcomment %}

<div class="xo-address-table__default">
  {%- form 'customer_address', address -%}
    <input type="hidden" id="address_default_address_new" name="address[default]" value="1">
    {% if address == customer.default_address %}
      <div class="xo-address-table__icon">
        {% render 'button', type: 'submit', style: 'link', icon: 'like-active' %}
      </div>
    {% else %}
      <div class="xo-address-table__icon">
        {% render 'button', type: 'submit', style: 'link', icon: 'like' %}
      </div>
    {% endif %}
  {%- endform -%}
</div>
