{% liquid
  assign heading = block.settings.text_heading
  assign image_1 = block.settings.image_1
  assign title_1 = block.settings.title_1
  assign image_2 = block.settings.image_2
  assign title_2 = block.settings.title_2
  assign image_3 = block.settings.image_3
  assign title_3 = block.settings.title_3
  assign color_config_enable = block.settings.color_config_enable
%}

{% render 'product-featured-block',
  heading: heading,
  image_1: image_1,
  title_1: title_1,
  image_2: image_2,
  title_2: title_2,
  image_3: image_3,
  title_3: title_3,
  color_config_enable: color_config_enable
%}


{% schema %}
{
  "name": "t:blocks.text_feature.name",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Text feature"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_0.content"
    },
    {
      "type": "checkbox",
      "id": "color_config_enable",
      "label": "t:blocks.text_feature.settings.color_config_enable.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:blocks.text_feature.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "title_1",
      "label": "t:blocks.text_feature.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:blocks.text_feature.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "title_2",
      "label": "t:blocks.text_feature.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:blocks.text_feature.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "title_3",
      "label": "t:blocks.text_feature.settings.heading.label",
      "default": "<p>Heading</p>"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.text_feature.presets.name"
    }
  ]
}
{% endschema %}