{{ 'category-1.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block = section.blocks
  assign heading = section.settings.text_heading
  assign sub_heading = section.settings.sub_heading
  assign collection_per_view = section.settings.collection_per_view
  assign space_between = section.settings.space_between
  assign layout = section.settings.layout
%}

<section {% render 'section-attr' %}>
  <div class="category-style-1">
    <xo-container class="category-style-1__container">
      <div class="category-style-1__content">
        {% render 'category-1', block: block, collection_per_view: collection_per_view, space_between: space_between, layout: layout, heading: heading, sub_heading: sub_heading %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.category_style_1.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "collection_per_view",
      "min": 1,
      "max": 8,
      "step": 1,
      "label": "t:sections.category_style_1.settings.collection_per_view.label",
      "default": 7
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 10,
      "max": 200,
      "step": 5,
      "label": "t:sections.category_style_1.settings.space_between.label",
      "default": 15
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Collection by category"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.category_style_1.settings.sub_heading.label",
      "default": "<p>Use this text to share information about your brand with your customers</p>"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.category_style_1.blocks.name",
      "type": "collection-item",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.header.content"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collection.label"
        },
        {
          "type": "range",
          "id": "collection_card_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding_vertical.label",
          "default": 7
        },
        {
          "type": "range",
          "id": "collection_card_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding_horizontal.label",
          "default": 7
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "t:sections.all.image_size.label",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.all.image_size.option__1.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.image_size.option__2.label"
            }
          ],
          "default": "sm"
        },
        {
          "type": "color_scheme",
          "id": "color_schema_card",
          "label": "t:sections.all.color_schema_card.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.category_style_1.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "collection-item",
          "settings": {}
        },
        {
          "type": "collection-item",
          "settings": {}
        },
        {
          "type": "collection-item",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}