{{ 'collection-list-6.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection_list = section.settings.collection_list
  assign product_per_view = section.settings.product_per_view
  assign autoplay = section.settings.autoplay
  assign autoplay_speed = section.settings.autoplay_speed
  assign heading = section.settings.text_heading
%}

<section {% render 'section-attr' %}>
  <div class="collection-slide">
    <xo-container class="collection-slide__container">
      <div class="collection-slide__content">
        {% render 'collection-list-6', collection_list: collection_list, product_per_view: product_per_view, autoplay: autoplay, autoplay_speed: autoplay_speed, heading: heading %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection_slide.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:sections.collection_slide.settings.collection_list.label"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Collection slide"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.collection_slide.settings.header_slide.content"
    },
    {
      "type": "range",
      "id": "product_per_view",
      "min": 4,
      "max": 9,
      "step": 1,
      "label": "t:sections.collection_slide.settings.product_per_view.label",
      "default": 6
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.collection_slide.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.collection_slide.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.collection_slide.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "t:sections.collection_slide.settings.autoplay_speed.label",
      "default": 5000
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.collection_slide.presets.name",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}