{{ 'collection-list-5.css' | asset_url | stylesheet_tag }}
{{ 'image-button.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='collection-hover'>
    <xo-container class='collection-hover__container'>
      <div class='collection-hover__content'>
        {% render 'collection-list-5', block: section.blocks %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection_hover.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.collection_hover.blocks.name",
      "type": "collection-item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection_hover.blocks.settings.collection.label"
        },
        {
          "type": "header",
          "content": "t:sections.collection_hover.blocks.settings.desktop_image.content"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "t:sections.collection_hover.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "desktop_aspect_ratio",
          "label": "Aspect ratio",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.collection_hover.blocks.settings.mobile_image.content"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.collection_hover.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "mobile_aspect_ratio",
          "label": "Aspect ratio",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.collection_hover.blocks.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "options": [
            {
              "value": "xs",
              "label": "Extra small"
            },
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_hover.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "collection-item",
          "settings": {
            "collection": "",
            "desktop_aspect_ratio": "3/2",
            "mobile_aspect_ratio": "3/2"
          }
        },
        {
          "type": "collection-item",
          "settings": {
            "collection": "",
            "desktop_aspect_ratio": "3/2",
            "mobile_aspect_ratio": "3/2"
          }
        },
        {
          "type": "collection-item",
          "settings": {
            "collection": "",
            "desktop_aspect_ratio": "3/2",
            "mobile_aspect_ratio": "3/2"
          }
        },
        {
          "type": "collection-item",
          "settings": {
            "collection": "",
            "desktop_aspect_ratio": "3/2",
            "mobile_aspect_ratio": "3/2"
          }
        },
        {
          "type": "collection-item",
          "settings": {
            "collection": "",
            "desktop_aspect_ratio": "3/2",
            "mobile_aspect_ratio": "3/2"
          }
        }
      ]
    }
  ]
}
{% endschema %}