{{ 'section-comment.css' | asset_url | stylesheet_tag }}
{{ 'article-comments.css' | asset_url | stylesheet_tag }}
{{ 'article-comments-form.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='xo-section-comment'>
    {%- if blog.comments_enabled? -%}
      {% render 'article-comments' %}
      {% render 'article-comments-form' %}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.comment.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ]
}
{% endschema %}