{{ 'introduction-text.css' | asset_url | stylesheet_tag }}

{% liquid
  assign content = section.settings.content
  assign left_image_desktop = section.settings.left_image_desktop
  assign left_aspect_ratio_desktop = section.settings.left_aspect_ratio_desktop
  assign left_image_mobile = section.settings.left_image_mobile
  assign left_aspect_ratio_mobile = section.settings.left_aspect_ratio_mobile
  assign right_image_desktop = section.settings.right_image_desktop
  assign right_aspect_ratio_desktop = section.settings.right_aspect_ratio_desktop
  assign right_image_mobile = section.settings.right_image_mobile
  assign right_aspect_ratio_mobile = section.settings.right_aspect_ratio_mobile
  assign blocks = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class="xo-introduction-text">
    <xo-container class="xo-introduction-text__container">
      <div class="xo-introduction-text__content">
        {% render 'introduction-text',
          content: content,
          left_image_desktop: left_image_desktop,
          left_aspect_ratio_desktop: left_aspect_ratio_desktop,
          left_image_mobile: left_image_mobile,
          left_aspect_ratio_mobile: left_aspect_ratio_mobile,
          right_image_desktop: right_image_desktop,
          right_aspect_ratio_desktop: right_aspect_ratio_desktop,
          right_image_mobile: right_image_mobile,
          right_aspect_ratio_mobile: right_aspect_ratio_mobile,
          blocks: blocks
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.introduction_text.name",
  "settings": [
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    },
    {
      "type": "header",
      "content": "Left image"
    },
    {
      "type": "image_picker",
      "id": "left_image_desktop",
      "label": "Desktop image"
    },
    {
      "type": "select",
      "id": "left_aspect_ratio_desktop",
      "label": "Aspect ratio desktop",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "left_image_mobile",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "left_aspect_ratio_mobile",
      "label": "Aspect ratio mobile",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        }
      ]
    },
    {
      "type": "header",
      "content": "Right image"
    },
    {
      "type": "image_picker",
      "id": "right_image_desktop",
      "label": "Desktop image"
    },
    {
      "type": "select",
      "id": "right_aspect_ratio_desktop",
      "label": "Aspect ratio desktop",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "right_image_mobile",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "right_aspect_ratio_mobile",
      "label": "Aspect ratio mobile",
      "default": "3/4",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        }
      ]
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Figure",
      "type": "countto",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text</p>"
        },
        {
          "type": "header",
          "content": "Value"
        },
        {
          "type": "text",
          "id": "prefix",
          "label": "Prefix"
        },
        {
          "type": "number",
          "id": "from_value",
          "label": "From value",
          "default": 0
        },
        {
          "type": "number",
          "id": "to_value",
          "label": "To value",
          "default": 1000
        },
        {
          "type": "text",
          "id": "suffix",
          "label": "Suffix",
          "default": "+"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.introduction_text.name",
      "settings": {},
      "blocks": [
        {
          "type": "countto",
          "settings": {
            "from_value": 0,
            "to_value": 5,
            "suffix": "+"
          }
        },
        {
          "type": "countto",
          "settings": {
            "from_value": 0,
            "to_value": 10,
            "suffix": "+"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  }
}
{% endschema %}