{{ 'product-grid.css' | asset_url | stylesheet_tag }}
{{ 'promo-banner.css' | asset_url | stylesheet_tag }}

{% liquid
  assign sub_heading = section.settings.sub_heading
  assign product_list = section.settings.product_list
  assign blocks = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class="xo-product-grid">
    <xo-container class="xo-product-grid__container">
      <div class="xo-product-grid__content">
        {% render 'product-grid', product_list: product_list, sub_heading: sub_heading, blocks: blocks %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.product_grid.name",
  "class": "section-product-grid",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "select",
      "id": "product_card_aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "auto",
          "label": "Adapt to image"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        }
      ],
      "default": "1"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Text content",
      "default": "<p>Use this text to share information about your brand with your customers</p>"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Promo banner",
      "type": "promo-banner",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop image"
        },
        {
          "type": "select",
          "id": "aspect_ratio_desktop",
          "label": "Aspect ratio",
          "default": "16/9",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "select",
          "id": "aspect_ratio_mobile",
          "label": "Aspect ratio",
          "default": "3/4",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_type",
          "label": "Type",
          "options": [
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "wide",
              "label": "Wide"
            },
            {
              "value": "high",
              "label": "High"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "standard"
        },
        {
          "type": "range",
          "id": "background_overlay",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0,
          "label": "Background overlay"
        },
        {
          "type": "header",
          "content": "Typography"
        },
        {
          "type": "richtext",
          "id": "sub_title",
          "label": "Heading",
          "default": "<p>Heading</p>"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "discount_value",
          "label": "Large text",
          "default": "50%"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "options": [
            {
              "value": "xs",
              "label": "Extra small"
            },
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        },
        {
          "type": "header",
          "content": "Condition"
        },
        {
          "type": "number",
          "id": "index",
          "default": 2,
          "label": "Index"
        },
        {
          "type": "select",
          "id": "placement",
          "label": "Placement",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "top"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "space_between",
          "label": "Space between",
          "default": true
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_box",
          "label": "Color schema",
          "default": "schema-2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_grid.name",
      "settings": {},
      "blocks": [
        {
          "type": "promo-banner",
          "settings": {
            "index": 3
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  }
}
{% endschema %}