{{ 'testimonial-box-9.css' | asset_url | stylesheet_tag }}
{{ 'testimonial-box-9-config.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block = section.blocks
  assign heading = section.settings.text_heading
  assign active_index = section.settings.active_index
  assign autoplay = section.settings.autoplay
  assign autoplay_speed = section.settings.autoplay_speed
%}

<section {% render 'section-attr', style: 'z-index: 10' %}>
  <xo-animate xo-cascade>
    <div class="testimonial-style-9">
      <xo-container class="testimonial-style-9__container">
        <div class="testimonial-style-9__content">
          {% render 'testimonial-box-9', heading: heading, active_index: active_index, autoplay: autoplay, autoplay_speed: autoplay_speed, block: block %}
        </div>
      </xo-container>
    </div>
  </xo-animate>
</section>

{% schema %}
{
  "name": "t:sections.testimonial_style_9.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Testimonial"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 20
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 50
    },
    {
      "type": "select",
      "id": "active_index",
      "label": "t:sections.testimonial_style_9.settings.active_index.label",
      "default": "3",
      "options": [
        {
          "value": "0",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__1.label"
        },
        {
          "value": "1",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__2.label"
        },
        {
          "value": "2",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__3.label"
        },
        {
          "value": "3",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__4.label"
        },
        {
          "value": "4",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__5.label"
        },
        {
          "value": "5",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__6.label"
        },
        {
          "value": "6",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__7.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.testimonial_style_9.settings.autoplay.label",
      "default": "off",
      "options": [
        {
          "value": "off",
          "label": "t:sections.testimonial_style_9.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.testimonial_style_9.settings.autoplay.option__2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "label": "t:sections.testimonial_style_9.settings.autoplay_speed.label",
      "default": 5000
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.testimonial_style_9.blocks.name",
      "type": "testimonial-box",
      "limit": 7,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.testimonial_style_9.blocks.settings.content.label",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "t:sections.testimonial_style_9.blocks.settings.avatar.label"
        },
        {
          "type": "select",
          "id": "avatar_size",
          "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.option__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.option__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.option__3.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "t:sections.testimonial_style_9.blocks.settings.customer_name.label",
          "default": "Customer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial_style_9.presets.name",
      "settings": {
        "font_size_heading": "h5",
        "text_heading": "Testimonial",
        "text_duration": 1000,
        "text_effect": "split",
        "active_index": "3",
        "autoplay": "off",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>1.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>2.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>3.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>4.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>5.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>6.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>7.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        }
      ]
    }
  ]
}
{% endschema %}