.collection-list {
  height: 100%;
  position: relative;
  background: transparent;
  border: var(--collection-card-border-width) solid rgba(var(--color-border), var(--collection-card-border-opacity));
  box-shadow: var(--collection-card-shadow-horizontal-offset) var(--collection-card-shadow-vertical-offset) var(--collection-card-shadow-blur-radius) rgba(var(--color-shadow), var(--collection-card-shadow-opacity));
  overflow: hidden;
}
.collection-list:hover, .collection-list:focus-within {
  cursor: pointer;
}

.collection-list__link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.collection-list--radius {
  border-radius: var(--collection-card-radius);
  overflow: hidden;
}

.collection-list__content {
  height: 100%;
  position: relative;
}
.collection-list__content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-overlay-2), calc(var(--opacity) / 100));
  z-index: 1;
}
[dir=ltr] .collection-list__content::after {
  left: 0;
}
[dir=rtl] .collection-list__content::after {
  right: 0;
}

.collection-list__button {
  display: inline-flex;
  width: fit-content;
  margin-top: 1.2rem;
  padding: 0.8rem 1.2rem;
  border-radius: var(--button-radius);
  background: rgba(var(--color-button));
  color: rgba(var(--color-button-text));
  font-weight: 600;
}

.collection-list__text {
  width: 100%;
  position: absolute;
  top: 3.3rem;
  z-index: 9;
  color: inherit;
}
[dir=ltr] .collection-list__text {
  left: 4.2rem;
}
[dir=rtl] .collection-list__text {
  right: 4.2rem;
}
@media (max-width: 991px) {
  .collection-list__text {
    top: unset;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  [dir=ltr] .collection-list__text {
    left: 2.5rem;
  }
  [dir=rtl] .collection-list__text {
    right: 2.5rem;
  }
}

.collection-list__heading {
  width: 58%;
  margin: 0;
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-heading-4-scale) * 2.8rem);
  line-height: 1.15;
  overflow-wrap: anywhere;
}
@media (min-width: 768px) {
  .collection-list__heading {
    font-size: calc(var(--font-heading-4-scale) * 4.2rem);
  }
}
@media (min-width: 992px) {
  .collection-list__heading {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .collection-list__heading {
    width: 50%;
  }
}
@media (min-width: 1800px) {
  .collection-list__heading {
    width: 40%;
  }
}

.collection-list__image {
  width: 100%;
  aspect-ratio: var(--collection-ratio-mobile);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .collection-list__image {
    aspect-ratio: var(--collection-ratio-desktop);
  }
}

.collection-list__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-list__image .placeholder-svg {
  width: 100%;
  height: 100%;
}