.xo-image-with-text-style-9 {
  position: relative;
  width: 100%;
  aspect-ratio: var(--section-ratio-mobile, 3/4);
}
@media (min-width: 992px) {
  .xo-image-with-text-style-9 {
    aspect-ratio: var(--section-ratio-desktop, 16/9);
  }
}

.xo-image-with-text-style-9__container,
.xo-image-with-text-style-9__content {
  width: 100%;
  height: 100%;
}

.xo-image-with-text-style-9__container {
  position: relative;
  z-index: 9;
}