@media (max-width: 991px) {
  .collection-accordion__container xo-grid {
    --xo-grid-row-gap: 2.4rem;
  }
}

.collection-accordion__col--list {
  display: flex;
  flex-direction: column;
}

.collection-accordion__col--list xo-collapse-provider {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.collection-accordion__item {
  overflow: hidden;
  border-radius: 3.2rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}

.collection-accordion__item .xo-collapse {
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
}

.collection-accordion__item .xo-collapse__trigger {
  padding: 3.6rem 4.8rem;
  gap: 2.4rem;
}

.collection-accordion__item .xo-collapse__trigger[xo-active] {
  padding-bottom: 1.2rem;
}

.collection-accordion__item .xo-collapse__trigger-title {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.collection-accordion__item .xo-collapse__content {
  width: 100%;
  opacity: 1;
  padding: 0 4.8rem 5.6rem;
}

.collection-accordion__ac-heading {
  display: block;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.collection-accordion__ac-subtitle {
  display: block;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.8 * 100%), transparent);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.collection-accordion .xo-product-card {
  overflow: hidden;
  border-radius: 2.8rem;
  text-align: center;
}

.collection-accordion .xo-product-card__information {
  align-items: center;
  padding-inline: 3.2rem;
  text-align: center;
}

.collection-accordion .xo-product-card__variants {
  justify-content: center;
}

.collection-accordion__banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  min-height: 48rem;
  height: 100%;
  padding: 4.8rem 4.8rem 5.6rem;
  overflow: hidden;
  border-radius: 3.2rem;
}

.collection-accordion__banner-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.06 * 100%), transparent);
  background-image: var(--img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-accordion__banner-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, var(--overlay, 0.2));
}

.collection-accordion__banner-inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
}

.collection-accordion__banner-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
}

.collection-accordion__banner-overline {
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(0.8 * 100%), transparent);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.collection-accordion__banner-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
}

.collection-accordion__carousel {
  padding-top: 3.2rem;
}

@media (max-width: 767px) {
  .collection-accordion__col--list xo-collapse-provider {
    gap: 1.2rem;
  }
  .collection-accordion__item {
    border-radius: 2rem;
  }
  .collection-accordion__item .xo-collapse__trigger {
    padding: 1.6rem 2rem;
    gap: 0;
  }
  .collection-accordion__item .xo-collapse__trigger[xo-active] {
    padding-top: 2.4rem;
    padding-bottom: 0.8rem;
  }
  .collection-accordion__item .xo-collapse__content {
    padding: 0 2rem 3.2rem;
  }
  .collection-accordion__carousel {
    padding-top: 2rem;
  }
  .collection-accordion .xo-product-card {
    border-radius: 2rem;
  }
  .collection-accordion__banner {
    padding: 2.4rem 2.4rem 3.2rem;
    border-radius: 2rem;
  }
}