.shop-the-look-duo {
  position: relative;
}

.shop-the-look-duo__head {
  margin-bottom: 2.8rem;
}

.shop-the-look-duo__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.8rem;
}
@media (min-width: 768px) {
  .shop-the-look-duo__grid {
    grid-template-columns: 1fr 1fr;
  }
}

.shop-the-look-duo__col {
  position: relative;
}

.shop-the-look-duo__media {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.shop-the-look-duo__media--radius {
  border-radius: 2.8rem;
}

.shop-the-look-duo__media .xo-image,
.shop-the-look-duo__media .xo-image__placeholder,
.shop-the-look-duo__media .placeholder-svg {
  width: 100%;
  height: 100%;
}

.shop-the-look-duo__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-the-look-duo__media-el {
  width: 100%;
  height: 100%;
}

.shop-the-look-duo__hotspot {
  position: absolute;
  z-index: 100;
  top: calc(var(--top_mb) * 1%);
  left: calc(var(--left_mb) * 1%);
}
[dir=ltr] .shop-the-look-duo__hotspot {
  transform: translate(-50%, -50%);
}
[dir=rtl] .shop-the-look-duo__hotspot {
  transform: translate(50%, -50%);
}
@media (min-width: 768px) {
  .shop-the-look-duo__hotspot {
    top: calc(var(--top_dt) * 1%);
    left: calc(var(--left_dt) * 1%);
  }
}

.shop-the-look-duo .product-card-custom__description {
  display: none;
}

.shop-the-look-duo .product-card-custom {
  width: 30rem;
  flex-direction: row;
  align-items: flex-start;
}

.shop-the-look-duo .product-card-custom__image {
  flex-shrink: 0;
  width: 9rem;
  height: 9.8rem;
  padding: 0;
}

.shop-the-look-duo .product-card-custom__info {
  width: calc(100% - 9rem);
  height: auto;
  padding: 1.4rem 1.4rem 1.4rem 1.2rem;
}

.shop-the-look-duo .product-card-custom__header {
  padding-inline-end: 0;
}

.shop-the-look-duo .product-card-custom__bottom {
  padding-top: 0;
}

.shop-the-look-duo .product-card-custom__title {
  word-break: normal;
  overflow-wrap: break-word;
}